*{
    margin: 0;
    padding: 0;
}
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


.card-img{
    height: 600px;
    padding: 0%; 
    margin: 0;
    width: 100%;
    border: none;
    filter: brightness(0.5)

}
.card{
    border: none;
}
.nav1{
    background-color:rgb(53, 58, 64);
    height: 80px;

}
#navbarSupportedContent{
    margin-left: 500px;
    padding: 10px;
    align-items: center;
}
.navbar-brand{
    color: white;
}
.nav-link{
    font-size: medium;
}
#gray{
    color: gray;
}

#green{
    color: green;
}

.img-fluid{
    height: 400px;
    width: 100%;
    border: none;
}
.card-img-top{
    height: 350px;
    
    
}
.btn-outline-secondary{
    color: white;
    border-color: white;
}
.textoInicial{
    color: white;
    margin-left: 800px;
    text-align: end;
    margin-top: 200px;
    margin-right: 100px;
    font-size: large;
    
}
.centrar4{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    text-align: center;
}
.btnNuevo{
    color: white;
    background-color: rgb(23, 162, 185);
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    border-color: rgb(23, 162, 185);
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;

}
.btnNuevo1{
    color: black;
    background-color: rgb(253, 194, 6);
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    border-color: rgb(253, 194, 6);
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;

}
.btnNuevo2{
    color: white;
    background-color: rgb(108, 117, 122);
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    border-color: rgb(108, 117, 122);
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;

}
.btnNuevo3{
    color: white;
    background-color: rgb(220, 53, 70);
    border-radius: 8px;
    font-weight: bold;
    font-size: medium;
    border-color: rgb(220, 53, 70);;
    height: 35px;
    padding-left: 4px;
    padding-right: 4px;

}
.centrar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
    flex-direction: column;
}
.centrar1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.btnForm{
    width: 100%;
    color: white;
    background-color: rgb(150, 201, 62);
    border: none;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
    text-align: center;
}
.form-control1{
    width: 700px;
    height: 100px;
    border-color: rgb(223, 222, 222);
    color: grey;
}
.form-control3{
    width: 340px;
    height: 40px;
    
}


.form-control2{
    width: 700px;
    height: 30px;
    color: rgb(206, 212, 218);
   
}
.parrafo1{
    font-size: 10px;
}
.centrar2{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.centrar3{
    width: 100%;
}
.textoFormulario{
   margin: 0.5px
}
.footer1{
    background-color: rgb(29, 58, 74);
    height: 80px;
    color: white;
    font-size: 18px;
    text-decoration: none;
    padding-top: 20px;
    
}
.nav-link{
    color: white;
}
.tarjeta1{
    width: cover;
    height: 300ox;
    border-style: solid;
    border-color: rgb(0, 123, 255);
    background-color: white;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}
.tarjeta2{
    width: cover;
    height: 300ox;
    border-style: solid;
    border-color: rgb(23, 162, 184);
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;
}
.tarjeta3{
    width: cover;
    height: 300ox;
    border-style: solid;
    border-color: rgb(255, 193, 7);
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
    padding: 15px;

}
.grupotarjetas{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    height: 200px;
    align-items: center;
}
.formulariotickets{
    margin-bottom: 50px;
}

.venta{
    width: 700px;
}
.venta1{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.venta2{
    width: 340px;

}
.totalventa{
    background-color: rgb(205, 229, 255);
    height: 50px;
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    padding-left: 5px;
}
.botonventa{
    background-color: rgb(151, 201, 62);
    border-radius: 5px;
    border-color: rgb(151, 201, 62);
    margin: 10px;
}
.venta3{
    width: 250px;
}